
<style type="text/css">
    form  { display: table;      }
    p     { display: table-row;  }
    label { display: table-cell; }
    input { display: table-cell; }
    
</style>

{% extends 'base.html' %}
{% block title %}
Expense Tracking
{% endblock %}



{% block content %}
<h1 class="mt-2">ACCIDENT ENTRY</h1>
<hr class="mt-0 mb-4">

{% comment %} Creating User inputs for expenses {% endcomment %}
<form method = POST >
    {% csrf_token %}

    <fieldset><legend>Information About Accident</legend>
    <p>
        <label for = "employeeID">Employee ID: </label> 
        <select name = 'employeeID' id = "employeeID" required = True>
            {%for user in user_db%}
            <option value= {{user.username}}> {{user.username}} </option>   
            {%endfor%}
        </select>
    </p> 
    
    <p>
        <label for = "lp">Vehicle License Plate: </label> 
        <select name = 'lp' id = "License_plate" required = True>
            {%for license_plate in lp_db%}
            <option name  = lp value= {{license_plate.id}}> {{license_plate.plateID}} </option>   
            {%endfor%}
        </select>
    </p>

    <p>
    <label for = "ticket_type">Location: </label> 
    <input type ='text' id ="location" placeholder = "Saskatoon" name ="location" required>
    </select>
    </p>

    <p>
    <label for = "date">Date of Accident: </label> 
    <input type ='date' id ="date" name ="date" required>
    </p>

    <p>
        <label for = "fault">At fault: </label> 
        <select name = 'fault' id = "fault" required = True>
            
            <option value= "Yes"> Yes </option>   
            <option value= "No">  No </option>   
            <option value= "Unsure"> Unsure </option>   
            
        </select>
    </p> 

 
    {% comment %} file upload, only allows file types of images {% endcomment %}
    <p>
    <label for = "picture">Upload a photo of the ticket: </label> 
    <input type="file" accept = ".pdf, .png, .jpeg, .jpg, .gif, .pdf, .raw" id="picture" name="picture" required>
</p>
    <button type ="submit" class = "submit">Submit</button>
</fieldset>
</form>

{%endblock%}

