<style type="text/css">
    form  { display: table;      }
    p     { display: table-row;  }
    label { display: table-cell; }
    input { display: table-cell; }

</style>


{% extends 'base.html' %}
{% block title %}
Expense Tracking
{% endblock %}



{% block content %}
<h1 class="mt-2">PERSONAL VEHCILE INFORMATION</h1>
<hr class="mt-0 mb-4">



{% comment %} Creating User inputs for expenses {% endcomment %}
<form method = POST >
    {% csrf_token %}

    <fieldset><legend>Information About Trip</legend>
    <p>
        <label for = "assignedEmployee">Employee ID: </label> 
        <select name = 'assignedEmployee' id = "assigned_Employee" required = True>
            {%for user in user_db%}
            <option id = "sel_user" value= {{user.username}}> {{user.username}} </option>   
            {%endfor%}
        </select>
    </p>

    <p>
    <label for = "reason">Reason for Travel: </label> 
    <input type ='text' id ="reason" placeholder = "Field Visit" name ="reason" required>
    </select>
    </p>
 
    <p>
        <label for = "km_travelled">Kilometers Travelled: </label> 
        <input type ='text' id ="km_travelled" placeholder = "150" name ="km_travelled" required>
        </select>
    </p>

    <p>
    <label for = "date">Date of Trip: </label> 
    <input type ='date' id ="date" name ="date" required>
    </p>
    <br>
    <button type ="submit" class = "submit">Submit</button>
</fieldset>
</form>





{% endblock %}

